#+MultiViews would allow Apache to match example.com/mypage to /mypage.php, so the file extension isn't required. -MultiViews does the opposite
Options -MultiViews

#-Indexes prevents uses from viewing & exploring directories with their browsers if there's no index(.html || .php) file to serve. +Indexes would do the opposite.
Options -Indexes

RewriteEngine On
RewriteBase /public

#RewriteCond %{ENV:REDIRECT_STATUS} ^. would match any HTTP status (200, 404, etc) more than one character long, not sure what ^$ does
RewriteCond %{ENV:REDIRECT_STATUS} ^$

#If requested URL isn't a directory that exist
RewriteCond %{REQUEST_FILENAME} !-d

#If requested URL isn't a file that exists
RewriteCond %{REQUEST_FILENAME} !-f

#If requested URL isn't a symbolic link that exists
RewriteCond %{REQUEST_FILENAME} !-l

#Redirect all file requests (if it's not to a real file, directory or symbolic link) to index.php and pass the URL as a parameter to it with url as its key
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
